<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="Tests/bootstrap.php" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd">
  <php>
    <server name="APP_ENV" value="test" force="true"/>
    <server name="KERNEL_CLASS" value="Biig\Component\Domain\Tests\TestKernel" force="true"/>
  </php>
  <testsuites>
    <testsuite name="BiiG Domain">
      <directory suffix="Test.php">./Tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./docs</directory>
      <directory>./Tests</directory>
      <directory>./vendor</directory>
    </exclude>
  </source>
</phpunit>
